<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="~{navigation :: navi(Home)}"/>
<div th:if="${st==1}" style = "color: limegreen ; margin-left: 30px "><h1>Добро пожаловать!</h1></div>
<div class="container" th:if="${st ==2}">
    <h1> Фильтр</h1>
    <div>
    <form th:action="@{/products/filtr}" th:object="${Filtr}" method="post">

        <label>Название</label> <br>
        <input   th:field="*{substr}" placeholder="title"  class="form-control"/><br>
        <label> Минимальная цена </label> <br>
        <input  th:field="*{mincost}"  placeholder="min" pattern="\d*"  class="form-control"/><br>
        <label> Максимальная цена</label> <br>
        <input  th:field="*{maxcost}" placeholder="max"  pattern="\d*"  class="form-control">
        <button type="submit"  class="btn btn-primary" style="margin-top: 10px;">Установить</button>
    </form>
        <form th:action="@{/products/reset}" th:object="${Filtr}" method="post">
        <button type="submit"  class="btn btn-primary" style="margin-top: 10px;">Сбросить</button>
        </form>
</div>
    <h1>Товары</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <div th:if="${!isRedact.contains(product.id)}">
                <td th:text="${product.id}"/>
                <td th:text="${product.title}"/>
                <td th:text="${product.price}"/>
                <td>
                    <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть"/>
                    <a th:href="@{'/products/del/' + ${product.id}}" th:text="Удалить"></a>
                    <a th:href="@{'/products/edit/' + ${product.id}}" th:text="Изменить"></a>
                </td>
            </div>
            <div th:if="${isRedact.contains(product.id)}">
                <td colspan="4">
                    <form th:action="@{/products/edit}"
                          th:object="${product1}" method="post">
                        <input type="text" th:value="${product.id}" name="id" pattern="\d*" readonly style = "visibility: hidden; margin-left: -190px" required />
                        <input th:value="${product.title}" placeholder="title (*)" name="title" required/>
                        <input th:value="${product.price}" pattern="\d*" name="price" required/>
                        <button type="submit">Отправить</button>
                    </form>
                </td>
            </div>

        </tr>
        </tbody>
    </table>
    <form th:if="${!ad}" th:action="@{/products/add}">
        <button type="submit"  class="btn btn-primary" style="margin-top: 10px;">+</button>
    </form>
    <form th:if ="${ad}" th:action="@{/products/add}"
          th:object="${product}" method="post" class="form-horizontal">

            <input type="text" placeholder="id" name="id" value = 1 pattern="\d*"  required style = "visibility: hidden; margin-left: -190px" />
            <input  placeholder="title" name="title" required/>
            <input placeholder="price" pattern="\d*" name="price" required/>
            <button type="submit">Добавить</button>
    </form>
    <span th:text="${'Всего товаров ' + products.size()}"/>
</div>

</body>
</html>